.image-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding: 1.25em;
  width: 100%;
  min-height: 40em;
  box-sizing: border-box;
}

.image-card {
  margin: 0.625em;
  width: calc(33% - 1.25em);
  box-sizing: border-box;
  position: relative;
  min-width: 10em;
}

.card-media-container {
  position: relative;
}

.star-icon {
  position: absolute;
  top: -6.5em; 
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  transition: color 0.3s ease;
}

.star-icon:hover {
  color: gold; 
}
.star-icon:focus {
  outline: none;
}

.heart {
  color: red;
  height: 1em;
  display: inline-block;
  font-size: 2.5em;
}

.remove-download {
  position: absolute;
  top: 0em;
  right: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 4em;
}

.remove-icon, .download-icon {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  transition: color 0.3s ease;
  margin-bottom: 0.5em;
}

.remove-icon:focus, .download-icon:focus {
  outline: none;
}
